%form{:action => '/url', :method => 'post' }
  %p
    %label{:for => 'url'} Tumblr video post URL/address:
    %br
    %textarea{:autofocus => "autofocus", :name => 'url', :rows => '4', :style => 'width:99%', :placeholder => "http://jaylikesdabutt.tumblr.com/post/70041558674"}
    %br
    %input{:type => 'submit', :value => 'Get link!'}
