%form{ :action => '/url', :method => 'post', :role => 'form' }
  .form-group
    %label.control-label{ :for => 'url' } Website URL/address
    %input.form-control.input-lg{ :type => 'url', :autofocus => "autofocus", :name => 'url', :placeholder => "http://jaylikesdabutt.tumblr.com/post/70041558674" }
  %input.btn.btn-primary{ :type => 'submit', :value => 'Get link!' }
