%form{:action => '/url', :method => 'post' }
	%fieldset
		%label{:for => 'url'} Tumblr premalink URL:
		%textarea{:name => 'url', :rows => '4', :cols => '50'}
		%input{:type => 'submit', :value => 'Get link!'}