%form{:action => '/url', :method => 'post' }
  %p
    %label{:for => 'url'} Tumblr video post URL/address:
    %br
    %textarea{:autofocus => "autofocus", :name => 'url', :rows => '4', :style => 'width:99%', :placeholder => "http://yesgeorges.tumblr.com/post/33634090406/the-boys-on-xtra-factor-14-10-12-x"}
    %br
    %input{:type => 'submit', :value => 'Get link!'}
