!!! 5
%html
  %head
    %title Tumdlr
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}
  %body
    %header#header
      %h1 Tumdlr
      %p Finds the downloadable link to the video file on a Tumblr, Blip, DailyMotion, Metacafe, SoundCloud, Veoh, and Vimeo.<br>(YouTube support <em>broken</em>.)
      %hr
    #error
      %p= @error
    #notice
      %p= @notice

    #content
      =yield
