!!! 5
%html
  %head
    %title Tumdlr - Finds the downloadable link to the video file on websites
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' }
    %script{ :src => '//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' }
  %body
    %header#header.container
      %h1
        %a{ :href => url('/') } Tumdlr
      %p Finds the downloadable link to the video file on a Tumblr, Blip, DailyMotion, Metacafe, SoundCloud, Veoh, Vimeo, and <a href="https://github.com/rg3/youtube-dl/blob/master/docs/supportedsites.md">various other websites</a>.
      %hr
    - if @error
      #error.alert.alert-danger.container #{@error}
    - elsif @notice
      #notice.alert.alert-info.alert-dismissable.container
        %button.close{ :data => { :dismiss => 'alert'} } &times;
        #{@notice}

    #content.container
      =yield

    %footer#footer.container
      %hr
      %p Powered by <a href="http://rg3.github.io/youtube-dl/">youtube-dl</a>, <a href="https://github.com/jaimeMF/youtube-dl-api-server">youtube-dl-api-server</a>, and <a href="https://github.com/rb2k/viddl-rb">viddl-rb</a>.
