!!! 5
%html
  %head
    %title Tumdlr - Finds the downloadable link to the video file on a Tumblr
    %meta{ :name => 'viewport', :content => 'width=device-width, initial-scale=1.0' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css' }
    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' }
    %script{ :src => '//netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' }
  %body
    %header#header.container
      %h1
        %a{ :href => url('/') } Tumdlr
      %p Finds the downloadable link to the video file on a Tumblr, Blip, DailyMotion, Metacafe, SoundCloud, Veoh, and Vimeo.<br>(YouTube support <em>broken</em>.)
      %hr
    - if @error
      #error.alert.alert-danger.container #{@error}
    - elsif @notice
      #notice.alert.alert-info.alert-dismissable.container
        %button.close{ :data => { :dismiss => 'alert'} } &times;
        #{@notice}

    #content.container
      =yield
